@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Kode+Mono:wght@400..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
  }
  
  a {
    color: black;
    text-decoration: none;
    transition: 0.3s;
  }
  
  a:hover {
    opacity: 0.7;
  }
  
  .logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: rgba(255, 255, 255, 0.1);
    height: 15vh;
  }

  nav img{
    width: 150px;
    height: 150px;
    border-radius:50%;
  }
  
  main {
    background: url("../img/fundo.jpg") no-repeat center center;
    background-size: cover;
    height: 85vh;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: black;
    margin: 8px;
    transition: 0.3s;
  }
  
  @media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 15vw;
      height: 80vh;
      background: #E2D7D5;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
  }
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }
/* section {
    display: flex;
    justify-content: center;
    align-items: center;
}

section > img {

    width: 450px;
    height: 450px;
}

.textone > h2 {
    text-shadow: 1px 2px #5F9EA0;
    color: black;
}
.about{
    height: 300px;
}

.about > h1{
    margin-top: 1px;
    text-align: center;
    
}

h1:hover{
    color: #5F9EA0;
}

.about > p{
    margin-top: 60px;
    text-align: center;
    font-size: 15px;
    color: black;
    
}

 main > .image > img {
    margin-left: 25px;
    width: 250px;
    margin-top: 60px;
    border: 1px solid #5F9EA0;
    border-bottom-left-radius: 250px 100px;
}

article{
    border-top: thick double #32a1ce;
    display: flex;
    justify-content: space-around;
    height: 450px;
    gap: 30px;
}

article > h2{
    margin-top: 35px;
}

h2:hover{
    color: #5F9EA0;
}
.box{
    margin-top: 100px;
    width: 350px;
    height: 300px;

}

.box > h4 {
    margin-top: 15px;
    text-align: center;
    border-bottom: 4mm ridge #5F9EA0;
}

h4:hover{   
    color: gray;
}
.box > p {
    text-align: center;
    margin-top: 40px;
}

aside {
    height: 250px;
    border-top: thick double #32a1ce;
    display: flex;
    justify-content: center;
    align-items: start;
    border-bottom: thick double #32a1ce;
}


aside > h2 { 
    margin-top: 35px;
}

.photo > p {
    margin-top: 100px;
    text-align: center;
}


footer{
    border-top: thick double #32a1ce;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer > p {
    font-size: 12px;
}


img:hover{
    -webkit-transform: scale(1.1);
   transform: scale(1.1);
  }

.container{
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

 a {
    background: white;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 15px;
    border-radius: 30px;
    box-shadow: 3px 3px gray;
    padding: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 9px;
    color: black;
    
  }

  a:hover{
    background-color: #5F9EA0;
    color: black;
}

 img  {
    margin-left: 350px;
    margin-top: 50px;
    border-radius: 150px;
    width: 650px;
    height: 250px;  
}  */
