
body{
    font: 20px Arial, sans-serif;
}
.navbar{
    background-color: #d9d9d9;
}


.quem-somos{
    background-color: 	#5F9EA0;
}
.margin{
    padding-top: 50px;
    padding-bottom: 50px;
}

.parceiros{
    background-color:#d9d9d9;
}

.servicos{
    background-color: #5F9EA0;
}