@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Nunito", sans-serif;

}

header .navbar{
top: 0;
left: 0;
width: 100%;
height: 150px;
padding: 1.3rem 10%;
display: flex;
justify-content: space-around;
align-items: center;
text-decoration: none;

}

a {
color: black;
text-decoration: none;
transition: 0.3s;
font-weight: 50%;
font-size: 25px;
}

a:hover{
  background-color: #F0C119;
}

header img{
width: 150px;
height: 150px;
}

main{
background-image: url(../img/fundo.jpg);
background-repeat: no-repeat;
background-size: cover;
width: 100%;
height: 100vh;

}

h1{
margin: 50px;
padding: 180px;
font-size: 80px;
font-weight: 100%;

}

h1 span{
color: #F0C119;
font-weight: 250%;

}

.container {
display: flex;
justify-content: center;
align-items: center;
gap: 60px;
}

.box {
width: 350px;
height: 350px;
margin: 10px;

}

.yellow {
margin-bottom: 50px;
margin-top: -45px;
background-color: #F0C119;

}

.black {
display: flex;
flex-wrap: wrap;
margin-bottom: 50px;
margin-top: -45px;
background-color: black;

}

.sobre{
color: black;
background-size: cover;
border-radius: 10px;
max-width: 2550px;
height: 820px;
width: 80%;
margin: 0 auto;
padding: 50px;
display: flex;
justify-content: left;
gap: 150px;
font-size: 15px;
word-wrap: break-word;
border: 1px solid red;

}

.about{
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
padding: 55px;
width: 80%;
margin: 0 auto;


}

.about p {
margin-bottom: -5px;
margin-top: 10px;
padding: 10px;
gap: 50px;
padding-left: 20px;

}

.about h1 {
  padding: 0;
  display: flex;
  justify-content: flex-start;
  font-size: 20px;
}

.img img{
border-radius: 550px 0px 0px 0px;

}

.carousel-simples {
  padding-top: 50px;
  max-width: 700px;
  margin: 0 auto;
  position: relative;
}

.slides {
  position: relative;
  overflow: hidden;
}

.imagens {
  display: flex;
  width: 200%;
  transition: transform 0.5s ease-in-out;
}

.slide {
  width: 100%;
  flex-shrink: 0;
}

.slide img {
  width: 650px;
  display: block;
  border-radius: 8px;

}

input[name="slide"] {
  display: none;
}

/* Controle de navegação */
#slide1:checked ~ .imagens {
  transform: translateX(0%);
}

#slide2:checked ~ .imagens {
  transform: translateX(-100%);
}

/* Botões */
.navegacao {
  text-align: center;
  margin-top: 10px;
}

.botao {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 6px;
  background-color: #ccc;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s;
}

input#slide1:checked ~ .navegacao label[for="slide1"],
input#slide2:checked ~ .navegacao label[for="slide2"]  {
  background-color: #333;
}


.service{
  color: black;
  background-size: cover;
  border-radius: 10px;
  max-width: 2550px;
  height:800%;
  width: 90%;
  margin: 0 auto;
  padding: 50px;
  gap: 150px;
  font-size: 15px;
  }
  
  .service{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 55px;
  width: 80%;
  margin: 0 auto;
  }
  
  .service-one{
    display: flex;
    flex-wrap: wrap;
  }

  .service-one h3{
    padding: 0 10px;
  }

.card {
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
border: 1px solid #ccc;
padding: 20px;
width: 300px;
margin: 20px auto;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
transition: width 0.3s ease;
background-color: #E2D7D5;
gap: 20px;
border-radius: 8px; 

}

.card h2 {
  text-align: center;
  margin-bottom: 10px;
  color: #333;
}
.card p {
  text-align: center;
  margin-bottom: 20px;
  color: #666;
}
.card img {
  max-width: 100%;
  height: 150px;
  width: 250px;
  border-radius: 10px;
}


.footer {
  background-color: #F0C119;
  color: black;
  padding: 20px 0;
  text-align: center;
}
.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.footer .company-name {
  font-size: 24px;
  margin-bottom: 10px;
}
.footer .social-media, .footer .contact {
  margin-bottom: 10px;
}
.footer .social-media a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}
.footer .social-media a:hover {
  text-decoration: underline;
}
.footer .contact p {
  margin: 5px 0;
}

@media (max-width: 880px) {
.card {
width: 100%;
}

}